
.containerA p{
    text-align: left;
}

.decor{
    li{
        list-style-type: none;
        list-style-position: outside;
        margin: 0;
        padding-left: 0;
        padding: 3px 0;
        text-align: left;
        a{
            text-decoration: none;
            color: #ffff;
            
        }
    }
}


.newsletter{

    form{
        input{
            padding: 8px 20px;
        }
        button {
            background: #d1f0b1;
            padding: 10px 5px;
            border: none;
            color: #393939;
            font-weight: bold;
        }
    }
}

