.main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;

  .hair-photo {
    width: 50vw;

    img {
      height: 80vh;
      width: 100%;
    }
  }

  .form {
    width: 50vw;
    padding-bottom: 10px;

    h1 {
      font-family: Athelas, Arial, Helvetica, sans-serif;
    }

    form {
      padding: 0 5vw;
      text-align: left;

      input {
        background: #d8d8d8;
      }

      button {
        color: white;
        background: #68c3d4;
      }

      button,
      input {
        width: 100%;
        font-size: 20px;
        line-height: 40px;
      }

      .radio {
        width: auto;
      }

      .success {
        color: green;
        background: lightgreen;
        border-radius: 5px;
      }
    }

    p {
      text-align: center;
    }
  }

  @media only screen and (max-width: 500px) {
    flex-direction: column;

    .hair-photo,
    .form {
      width: 100%;
    }
  }
}