.user-portfolio-info {
  .user-header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

    .user {
      display: flex;
      flex-direction: column;
      width: 25%;
      justify-content: space-evenly;
      align-items: center;

      .userImg {
        border-radius: 50%;
        width: 90%;
        border: 2px solid black;
      }

      h2 {
        font-size: 1.5rem;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: baseline;

      div {
        text-align: left;
        background: lightgray;
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
  }


  .portfolio {
    margin-bottom: 10px;

    h3 {
      font-size: 4rem;
    }

    .projects {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .port {

        .portImg {
          border: 2px solid black;

          width: 20vw;

        }
      }
    }

  }

  .posts-section {
    margin-bottom: 18px;

    h3 {
      font-size: 4rem;
    }

    .posts {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .post {
        background: lightgray;
        border: 1px solid black;
        padding: 10px;

        h4 {
          font-size: 2rem;
        }

        .postImg {
          width: 40vw;
          border: 2px solid black;
        }

        .description {
          p {
            font-size: 1rem;
          }
        }

      }
    }

  }
}